#### For production/render.com ####
whitenoise
waitress
#### END For production/render.com ####
dash_table==5.0.0
Django==4.2.2
django_plotly_dash==2.2.1
numpy==1.24.3
pandas==2.0.2
plotly==5.15.0
redis==4.2.0
requests
channels-redis==3.4.0
django-cleanup
