<div class="sidebar">
  <ul>
    <h4>Dashboard</h4>
    <li><i class="fas fa-bars"></i></li>
    <br>
    <!-- <li><a href=""><i class="fas fa-scroll"></i>Dashboard</a></li> -->
    <!-- <li><a href=""><i class="fas fa-chart-pie"></i>Charts</a></li> -->
    <!-- <li><a href=""><i class="fas fa-table"></i>Data Table</a></li> -->
    <!-- <li><a href=""><i class="fas fa-at"></i>eMail</a></li> -->
    <li><a href="/"><i class="bi bi-speedometer"></i>Cases</a></li>
    <li><a href="/vaccines"><i class="bi bi-eyedropper"></i>Vaccines</a></li>
    <li><a href="/deathRace"><i class="bi bi-hourglass-top"></i>Death Race</a></li>
    <li><a href="/data"><i class="bi bi-file-earmark-spreadsheet"></i>Data</a></li>
  </ul>
  <div class="sidebar-footer">
    <ul>
      <li><a href="/contact"><i class="fas fa-at"></i></a></li>
      <li><a href="https://github.com/mazqoty?tab=repositories" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <!-- <li><a href="">&copy; 2019 Mazhar</a></li> -->
    </ul>			
  </div>
</div>