:root {
	/*Colors*/
	/* --color-text: aliceblue; */
	--color-text: white;
	--color-background: #545c63;
  	/* --color-backgroundselected: #464b4f; */
  	--color-backgroundselected: #212529;
}

* {
	font-family: Hk Grotesk Regular, serif;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	background-color: var(--color-background);
	color: var(--color-text);
}

.fa-bars {
	position: fixed;
	top: 25px;
	left: 20px;
}

.sidebar {
	width: 0vw;
  	height: 0vw;
	/* padding: 6rem 3rem; */
	background: var(--color-backgroundselected);
	overflow: hidden;
	transition: all 700ms;
}

.sidebar li {
	margin-bottom: 1rem;
}

.sidebar a {
/* 	font-size: 1.1rem; */
/* 	text-transform: uppercase; */
	font-weight: bold;
	color: var(--color-text);
	overflow: hidden;
	opacity: 0;
	transition: all 900ms;
}

/* gap between icons and links in side bar */
.sidebar ul a i{
    margin-right: 0.626rem;
  }

  .sidebar li {
	padding: 0.1rem;  		
  }

.sidebar-footer {
	position: fixed;
	bottom: 50px;

}
.content {
	width: 95vw;
	text-align: justify;
	/* padding: 6rem 5rem; */
	padding-top: 0.125rem;
	/* padding-bottom: 0.125rem; */
	/* padding-left: 0.125rem; */
	/* padding-right: 0.125rem; */
	transition: all 700ms;
}

/* .content h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
	text-align: center;
}

.content p {
	font-size: 1.1rem;
	line-height: 2rem;
	margin-bottom: 1.1rem;
} */

.sidebar:hover {
	width: 12vw;
	/* padding: 6rem 5rem; */
	padding-top: 6rem;
	padding-bottom: 6rem;
	/* sidebar items distance from left */
	padding-left: 0.063rem;
	/* sidebar items distance from right */
	padding-right: 0.063rem;
  	height: 100%;
}

.sidebar:hover a {
	opacity: 1;
}

.sidebar:hover .fa-bars {
	opacity: 0;
}

.sidebar:hover + container {
	width: 80vw;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: 0px;
    }
	.sidebar:hover {
        /* margin-left: 0px; */
		/* -- width of sidebar when it is open */
		width: 45vw; 
    }
	/* .sidebar:hover li a {
		opacity: 1;
	} */
	/* .sidebar:hover li i {
		opacity: 1;
	} */
	/* .content {
		margin-left: 5px;
	} */
    /* #sidebarCollapse span {
        display: none;
    } */
}